<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Attendance</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   </head>
   <body>
      <form class="form-control container" method="POST">
         {% csrf_token %}
         <div class="row row-cols-lg-2 row-cols-1">
            <div class="input-group mt-3">
               <span class="input-group-text">Batch</span>
               <select class="form-select" aria-label="Default select example" name="batch" required>
                  <option selected disabled>Select Batch</option>
                  {% for batch in batches %}
                  <option value="{{ batch.batch }}">{{ batch.batch }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text">Trainer</span>
               <select class="form-select"  id="selectTrainer" aria-label="Default select example" onchange="handleSelectChange(this)" name="trainer" required>
                  <option selected disabled>Select Trainer</option>
                   {% for trainer in trainers %}
                    <option value="{{ trainer.trainer }}">{{ trainer.trainer }}</option>
                   {% endfor %}
               </select>
               <br>
               <!--div id="customInputContainer" style="display: none;width: 100%">
                  <label for="customInput">Enter Trainer Name:</label>
                  <input name="trainer" id="customInput" class="form-control" type="text">
               </div-->
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text">Topic</span>
               <select class="form-select"  id="topicSelect" aria-label="Default select example" onchange="TopicSelectChange(this)" name="topic" required>
                  <option selected disabled>Select Topic</option>
                  {% for topic in topics %}
                    <option value="{{ topic.topic }}">{{ topic.topic }}</option>
                    {% endfor %}
               </select>
               <br><br>
            </div>
            <div class="input-group mt-3">
               <span class="input-group-text">Total Classes</span>
               <input type="number" class="form-control" aria-label="Date" name="total_classes">
            </div>
         </div><br><br>
         <div class="container">
            {% for student,counter in zip_list %}
            <div class="d-flex justify-content-between m-1">
               <div class="p-2">
                  <div class="p-2">{{ student.roll_no }}<br>{{ student.name }}</div>
                  <input name="S{{ counter }}" type="hidden" value="{{ student.roll_no }}">
               </div>
               <select class="form-select bg-success" name="R{{ counter }}" style="width: max-content">
                  <option value="present" class="bg-success">Present</option>
                  <option value="absent" class="bg-danger">Absent</option>
               </select>
            </div>
            {% endfor %}
         </div>
         <div class="d-flex justify-content-center mt-3">
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
         </div>
      </form>
      <!--javascript code for updating select based on option value-->
      <script>
         var selects= document.querySelectorAll('select');
         selects.forEach(select=>{
             select.addEventListener('change',()=>{
                 var option= select.options[select.selectedIndex].value;
                 if(option=='present'){
                     select.classList.remove('bg-danger');
                     select.classList.add('bg-success');
                 }
                 else{
                     select.classList.remove('bg-success');
                     select.classList.add('bg-danger');
                 }
             })
         })
      </script>
      <script>
         function handleSelectChange(select) {
         if (select.value === 'customInput') {
             document.getElementById('customInputContainer').style.display = 'block';
             document.getElementById('selectTrainer').style.display = 'none';


         } else {
             document.getElementById('customInputContainer').style.display = 'none';
             document.getElementById('selectTrainer').style.display = 'block';

         }
         }
      </script>
      <script>
         function TopicSelectChange(select) {
         if (select.value === 'customTopic') {
             document.getElementById('customTopicContainer').style.display = 'block';
             document.getElementById('topicSelect').style.display = 'none';

         } else {
             document.getElementById('customTopicContainer').style.display = 'none';
             document.getElementById('topicSelect').style.display = 'block';
         }
         }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
   </body>
</html>